body {
  padding-top: 50px;
}

.navbar {
  width: 100%;
  background-color: #c0c0c0;
  border-bottom: 2px solid #808080;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-item {
  margin-right: 1rem;
  font-family: "Tahoma", "Arial", sans-serif;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 1rem;
  border: 2px solid #c0c0c0;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #808080;
  border-right-color: #808080;
  background-color: #c0c0c0;
  text-decoration: none;
}

.navbar-item:active {
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
}
